<form id="create-poll" action="api" method="POST">
	<label for="poll">Poll</label>
	<input type="text" id="poll" name="poll" required>
	<label for="option">Option 1</label>
	<input type="text" id="option" name="options">
	<button type="button" id="add-answer">Add answer</button>
	<button id="submit" type="submit">Create Poll</button>
</form>