<form id="register" action="submit-register" method="POST"> 
	<% if (error === 'username') { %>
		<p>Username is already taken</p>
	<% } %>
	<label for="username">Username</label>
	<input class="<%= error === 'username' ? 'error' : '' %>" type="text" name="username" id="username" required>
	<% if (error === 'password') { %>
		<p>Password is already taken</p>
	<% } %>
	<label for="username">Password</label>
	<input class="<%= error === 'password' ? 'error' : '' %>" type="password" name="password" id="password" required>
	<% if (error === 'nickname') { %>
		<p>Nickname is already taken</p>
	<% } %>
	<label for="nickname">Nickname</label>
	<input class="<%= error === 'nickname' ? 'error' : '' %>"  type="text" name="nickname" id="nickname" required>
	<button type="submit">Create account</button>
</form>