<!DOCTYPE html>
<html>
<%- include('partials/Head.ejs') %>

<body>
	<%- include('partials/Header.ejs') %>
	<main>
		<%- include('partials/CreatePollForm.ejs') %>
	</main>
</body>
<script src="/js/client.js"></script>
</html>