<!DOCTYPE html>
<html>
<%- include('partials/Head.ejs') %>

<body>
	<main>
		<%- include('partials/LoginForm.ejs') %>
		<p>Don't have an account yet?<a href="/register">Register now</a></p>
	</main>
</body>
<script src="js/client.js"></script>
</html>