<!DOCTYPE html>
<html>
<%- include('partials/Head.ejs') %>

<body>
	<main>
		<%- include('partials/RegisterForm.ejs') %>
		<p>Already have an account?<a href="/register">Login now</a></p>
	</main>
</body>
<script src="js/client.js"></script>
</html>